<form class="form-signin p-5" [formGroup]="loginForm" (submit)="login()">
    <h2 class="form-signin-heading">Login</h2>
    <mat-form-field class="w-full">
        <mat-label>Email/Username</mat-label>
        <input matInput type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus
            formControlName="username" />
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input matInput type="password" id="inputPassword" class="form-control" placeholder="Password" required
            formControlName="password" />
    </mat-form-field>
    <div class="mt-3">
        <a routerLink="/register">New User? Click here to Sign Up</a>
    </div>
    <button mat-raised-button color="primary" type="submit">
        <div class="flex flex-col items-center gap-3 mt-10 sm:flex-row">
            <a
                class="inline-flex items-center justify-center w-full px-3 py-2 md:px-6 md:py-4 text-lg text-center no-underline bg-blue-50 border-2 border-white rounded-full shadow-xl lg:text-xl lg:px-12 text-black hover:bg-transparent hover:border-white hover:text-blue-50 focus:outline-none lg:w-auto focus-visible:outline-black focus-visible:ring-black shadow-accent-900/20 cursor-pointer">
                Login &nbsp; →
            </a>
        </div>
    </button>
</form>