<!-- Tailwind test -->

<div class="flex h-100">
  <div
    class="billListContainer flex-column h-100 flex-grow-1"
    [@expandShrink]="extendedView"
    [ngClass]="{ 'hidden md:flex md:border-r md:border-purple-500': extendedView == 'expanded' }"
  >
    <div class="" >
      <div class="h-32 ml-2 md:ml-4 py-3 px-3 md:px-5 my-3 custom-banner rounded-xl mr-2 md:mr-3">
        <div class="flex h-full">
          <div class="flex flex-grow-1 items-center">
            <div class="text-sm text-white font-thin ml-3 mt-2">
              @if (vehiclesCount) { To add another vehicle, enter VIN number. }
              @else { You don't have any vehicles yet. To add a vehicle, enter
              VIN }
            </div>
          </div>
          <div class="flex w-24 md:w-48">
            <button
              (click)="toggleView()"
              class="bg-white text-purple-500 text-md font-medium py-1 px-4 rounded-full mr-5 align-items-center w-full"
            >
              Add Vehicle
            </button>
          </div>
        </div>
      </div>
    </div>

    @if (showVinForm) {
    <div
      class="card custom-card-bg border-none rounded-2xl flex flex-row mx-2 py-3 px-3 md:py-4 md:px-5"
      [@slideInOut]
    >
      <mat-form-field class="w-full">
        <mat-label class="text-purple-900">Enter VIN</mat-label>
        <input
          matInput
          type="text"
          maxlength="17" autofocus
          class="border-none focus:border-none focus:bg-transparent"
          (input)="checkVinLength($event)"
          (blur)="handleVinBlur()"
          id="vin"
          [(ngModel)]="vin"
        />
      </mat-form-field>
    </div>
    }

    @if (vehiclesCount) {
      <div class="my-vehicles p-3" @slideInOut>
    
        <div class="flex flex-grow" *ngIf="vehicles.length > 0">
          <div class="display-6 text-purple-700 flex justify-start">
              My Fleet
          </div>

          <!-- button to generate report -->
          <div class="flex flex-grow justify-end">
            <button
              class="bg-purple-500 bg-opacity-90 text-white text-md font-thin py-3 px-3 rounded-full"
              (click)="generateReport()"
            >
              Generate Report
            </button>
          </div>
        </div>
    
        <table *ngIf="vehicles.length > 0" class="table table-striped mt-3">
            <thead>
                <tr>
                    <th class="ellipsis" scope="col">Make</th>
                    <th class="ellipsis" scope="col">Model</th>
                    <th class="ellipsis rounded-tr-md md:rounded-tr-none" scope="col">Year</th>
                    <th class="ellipsis hidden xl:table-cell" scope="col">VIN</th>
                    <th class="ellipsis hidden xl:table-cell" title="License Plate" scope="col">License Plate</th>
                    <th class="ellipsis hidden xl:table-cell" title="State Registered" scope="col">State Registered</th>
                    <th class="ellipsis hidden xl:table-cell" scope="col">Mileage</th>
                    <th class="ellipsis hidden xl:table-cell" title="Last Mileage Recorded" scope="col">Last Mileage Recorded</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vehicle of vehicles; trackBy: trackbyVehicleId" class="hover:!bg-gray-100 relative cursor-pointer" (click)="selectVehicle(vehicle)" [ngClass]="{'selected' : selectedVehicle?.vehicleID == vehicle.vehicleID }">
                  <td class="ellipsis pl-8 group-hover:!bg-gray-100" title="{{vehicle.make}}">{{vehicle?.make}}</td>
                  <td class="ellipsis group-hover:!bg-gray-100" title="{{vehicle?.model}}">{{vehicle?.model}}</td>
                  <td class="ellipsis group-hover:!bg-gray-100" title="{{vehicle?.year}}">{{vehicle?.year}}</td>
                  <td class="ellipsis group-hover:!bg-gray-100 hidden xl:table-cell" title="{{vehicle?.VIN}}">{{vehicle?.VIN}}</td>
                  <td class="ellipsis group-hover:!bg-gray-100 hidden xl:table-cell" title="{{vehicle?.licensePlate}}">{{vehicle?.licensePlate}}</td>
                  <td class="ellipsis group-hover:!bg-gray-100 hidden xl:table-cell" title="{{vehicle?.state}}">{{vehicle?.state}}</td>
                  <td class="ellipsis group-hover:!bg-gray-100 hidden xl:table-cell" title="{{vehicle?.mileage}}">{{vehicle?.mileage}}</td>
                  <td class="ellipsis group-hover:!bg-gray-100 hidden xl:table-cell" title="{{vehicle?.mileageDate | date}}">{{vehicle?.mileageDate | date}}</td>
              </tr>
          </tbody>
        </table>
    </div>
    }
  </div>

<!-- VIN Check -->
  @if(extendedView=='expanded' && vehicle.make && !selectedVehicle.vehicleID){

  <div class="flex flex-column w-full md:w-2/5" [@expandShrink]=extendedView>
    <div class="flex">
      <div class="display-5 text-purple-900 mt-3 ml-3 px-3">
        {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}
      </div>
      <div class="flex content-end ms-auto mt-3">
        <div class="text-sm text-purple-900 font-bold cursor-pointer" (click)="closeVehicleDetails()">
          Close
        </div>
      </div>
    </div>

    <div
      class="flex flex-wrap justify-around ps-3"
      style="align-content: flex-start"
      [@fadeIn]
      [@fadeOut]
    >
      <!-- Engine Info Card -->
      <div
        class="card custom-card-sec border-none rounded-2xl m-3 py-4 px-4 flex"
      >
        <div class="flex">
          <div class="flex items-center">
            <img
              src="../../../assets/images/engine.svg"
              alt="Engine Image"
              class="w-14 h-14"
            />
          </div>
          <div class="w-3/4 flex flex-col items-center content-end ms-auto ps-4">
            <div class="w-full flex" *ngFor="let key of vehicle.engine | keyvalue">
              @if(key.value){
              <div class="text-sm text-purple-800 font-thin content-start">
                {{ key.key | titlecase }}
              </div>
              <div class="text-sm text-purple-900 font-semibold content-end ms-auto">
                {{ key.value }}
              </div>
              }
            </div>
          </div>
        </div>
      </div>

      <!-- Body Info Card -->
      <div class="card custom-card-sec border-none rounded-2xl m-3 py-4 px-4">
        <div class="flex">
          <div class="flex items-center">
            <img
              src="../../../assets/images/car-door.svg"
              alt="Body Image"
              class="w-14 h-14"
            />
          </div>
          <div class="w-3/4 flex flex-col items-center content-end ms-auto ps-4">
            <div class="w-full flex" *ngFor="let key of vehicle.body | keyvalue">
              @if(key.value){
              <div class="text-sm text-purple-800 font-thin content-start">
                {{ key.key | titlecase }}
              </div>
              <div class="text-sm text-purple-900 font-semibold content-end ms-auto">
                {{ key.value }}
              </div>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="card custom-card-sec max-w-full	border-none rounded-2xl m-3 py-2 px-2">
        <img [src]="vehicle.image" alt="Vehicle Image" class="flex content-center flex-grow-1 rounded-xl" />
      </div>

      <!-- Add to fleet button -->
      <div class="flex flex-column w-full py-2 px-2 justify-content-center">
        <button
          class="bg-purple-500 bg-opacity-90 text-white text-md font-thin py-3 px-3 rounded-full flex justify-content-center items-center w-3/4 ms-auto me-auto hover:bg-opacity-100 hover:font-normal"
          (click)="addVehicle()"
        >
          Add to Fleet
        </button>
      </div>
    </div>
  </div>
  }

  @if(extendedView=='expanded' && selectedVehicle.vehicleID){
    <app-vehicle-details [vehicle]="selectedVehicle" (close)="closeVehicleDetailsUser($event)" class="w-full lg:w-2/5"></app-vehicle-details>
  }
</div>
