@keyframes bounceRight {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .bounce-right {
    animation: bounceRight 1s ease forwards;
  }

  .hover-icon-change:hover .icon-default {
    display: none;
  }
  
  .hover-icon-change:hover .icon-selected {
    display: inline;
  }
  
  .icon-default {
    display: inline;
  }
  
  .icon-selected {
    display: none;
  }