@import url('./app/tail.css');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

body { 
    margin: 0; 
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

mat-sidenav-content{
    background: transparent !important;
}

.primary-bg {
    background-color: #451952;
}

.primary-bg-light {
    background-color: #662549 !important;
}

.bg-light {
    background-color: #E8BCB9 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.text-accent-xl {
    color: #F39F5A !important;
    font-size: 1.5rem !important;
    font-weight: 300 !important;
}

.text-accent-lg {
    color: #F39F5A !important;
    font-size: 1.25rem !important;
    font-weight: 300 !important;
}

.text-sub-lg {
    color: #E8BCB9 !important;
    font-size: 1.25rem !important;
    font-weight: 300 !important;
}

.hover\:text-blue-50:hover {
    --tw-text-opacity: 1;
    color: rgb(239 246 255 / var(--tw-text-opacity)) !important;
}

.car-bg{
    bottom: -23%;
    right: -5%;
}
input:focus{ 
    outline: none !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
 }
 input, select, textarea{
    color: #e7e7f4 !important;
}
.mat-mdc-dialog-container .mdc-dialog__surface{
    background-color: transparent !important;
}
mat-dialog-container {
    background-color: transparent !important; /* Set dialog background to transparent */
}

.cdk-overlay-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Adjust the color and opacity of the backdrop */
}

 .mdc-text-field{
    background-color: transparent !important;
}
:root {
    --mdc-filled-text-field-input-text-color: rgb(88 28 135);
}
input:-internal-autofill-selected{
    background-color: transparent !important;
}

.mat-mdc-form-field-focus-overlay{
    border-radius: 8px !important;
}
.mdc-floating-label{
    color: #e7e7f4 !important;
}
.mdc-line-ripple::before{
    border-bottom-color: #534f98 !important;
}

.custom-card-bg{
    background: linear-gradient(270deg, rgb(219, 134, 236) 0%, rgb(217, 132, 233) 100%);
box-shadow: 2px 2px 10px 0px #a8a6c9;
}

.custom-card-sec {
    background: #eff6ff;
    box-shadow: -18px -13px 30px #ffffff, -2px -1px 30px #e3dede;
    max-height: max-content;
    flex-grow: 1;
}

.custom-card-purple{
    background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
    box-shadow: 2px 2px 16px 0px #cdbad2;
    max-height: max-content;
    border-radius: 1em;
    position: relative;
    overflow: hidden;
}

.flip-card-front::before {
    width: 150px;
    height: 150px;
    content: "";
    background: linear-gradient(to right,rgb(142, 110, 255),rgb(208, 195, 255));
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    right: -25%;
    top: -25%;
  }

  .flip-card {
    background-color: transparent;
    display: flex;
    flex-grow: 1;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s, visibility 0s linear 0.8s; /* Adjust the delay here */
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card:hover .flip-card-front {
    visibility: hidden;
}

.flip-card:hover .flip-card-back {
    visibility: visible;
}
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
    color: white;
    overflow: hidden;
  }
  
  .flip-card-back {
    background: linear-gradient(to right,#7e77e5,rgb(175, 152, 255));
    color: white;
    transform: rotateY(180deg);
  }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}