@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import url('./app/tail.css');
@import url('https://fonts.cdnfonts.com/css/satoshi');
html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

mat-sidenav-content{
    background: transparent !important;
}

.primary-bg {
    background-color: #451952;
}

.primary-bg-light {
    background-color: #662549 !important;
}

.bg-light {
    background-color: #E8BCB9 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.text-accent-xl {
    color: #F39F5A !important;
    font-size: 1.5rem !important;
    font-weight: 300 !important;
}

.text-accent-lg {
    color: #F39F5A !important;
    font-size: 1.25rem !important;
    font-weight: 300 !important;
}

.text-sub-lg {
    color: #E8BCB9 !important;
    font-size: 1.25rem !important;
    font-weight: 300 !important;
}

.hover\:text-blue-50:hover {
    --tw-text-opacity: 1;
    color: rgb(239 246 255 / var(--tw-text-opacity)) !important;
}

.car-bg{
    bottom: -15%;
    right: -5%;
}